<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="./layout/main/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="app" class="hidden">
        <v-app>
            <v-main>
                <v-container fluid fill-height justify-center>
                    <v-form ref="form" autocomplete="off" spellcheck="false">
                        <v-card width="800">
                            <v-toolbar color="primary" dense>
                                <v-btn @click="saveTemplate()" :disabled="!template.input" dark dense outlined><v-icon left>mdi-content-save</v-icon>salvar template</v-btn>
                                <v-spacer></v-spacer>
                                <v-combobox v-model="template.input" :items="template.items" @input.native="template.input=$event.srcElement.value" @change="view.confirmSelection = true" label="Selecionar Template" dark hide-details dense solo></v-combobox>
                                <v-dialog v-model="view.confirmSelection" persistent width="unset">
                                    <v-card>
                                        <v-card-title>
                                            Deseja manter as informações do profissional?
                                        </v-card-title>
                                        <v-card-actions class="justify-end">
                                            <v-btn @click="confirmSelection(true)" text color="primary" small>sim</v-btn>
                                            <v-btn @click="confirmSelection(false)" text color="primary" small>não</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                                <v-spacer></v-spacer>
                                <v-btn @click="deleteTemplate()" :disabled="!template.input" dark dense outlined><v-icon left>mdi-delete</v-icon>excluir template</v-btn>
                            </v-toolbar>
                            <v-card-title>Informações do Profissional</v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="form.employee.name" label="Nome Completo" prepend-icon="mdi-account-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="form.employee.user" label="Usuário de Rede" prepend-icon="mdi-account-tie-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="form.employee.id" type="number" label="Matrícula" prepend-icon="mdi-badge-account-horizontal-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="form.employee.phone" v-if="view.fixMaskedFields" v-mask="mask.phone" label="Telefone" prepend-icon="mdi-phone-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="form.employee.time" v-if="view.fixMaskedFields" v-mask="mask.workTime" label="Horário de Trabalho" prepend-icon="mdi-briefcase-clock-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-select v-model="form.employee.location.desc" label="Local de Trabalho" prepend-icon="mdi-office-building-marker-outline" :items="placeholder.workLocation" hide-details="auto"></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-dialog v-model="view.address" width="800">
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-text-field v-model="form.employee.location.all" label="Endereço" prepend-icon="mdi-map-marker-outline" v-bind="attrs" v-on="on" hide-details="auto" readonly></v-text-field>
                                            </template>
                                            <v-form ref="formAddress" v-model="validator.address" autocomplete="off" lazy-validation>
                                                <v-card>
                                                    <v-card-title>Endereço</v-card-title>
                                                    <v-card-text>
                                                        <v-row>
                                                            <v-col cols="3">
                                                                <v-text-field v-model="form.employee.location.cep" v-if="view.fixMaskedFields" v-mask="mask.cep" label="CEP" @blur="cepChanged(form.employee.location.cep)" :error-messages="error.cep" :rules="[v => !!v || 'Insira o CEP']" required></v-text-field>
                                                            </v-col>
                                                            <v-col cols="2">
                                                                <v-text-field v-model="form.employee.location.state" label="UF" disabled></v-text-field>
                                                            </v-col>
                                                            <v-col cols="4">
                                                                <v-text-field v-model="form.employee.location.city" label="Cidade" disabled></v-text-field>
                                                            </v-col>
                                                            <v-col cols="3">
                                                                <v-text-field v-model="form.employee.location.neighborhood" label="Bairro" disabled></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row>
                                                            <v-col>
                                                                <v-text-field v-model="form.employee.location.street" label="Rua" disabled></v-text-field>
                                                            </v-col>
                                                            <v-col cols="2">
                                                                <v-text-field v-model="form.employee.location.number" label="Número" :rules="[v => !!v || 'Insira o número']" required></v-text-field>
                                                            </v-col>
                                                            <v-col cols="3">
                                                                <v-text-field v-model="form.employee.location.misc" label="Complemento"></v-text-field>
                                                            </v-col>
                                                        </v-row> 
                                                    </v-card-text>
                                                    <v-card-actions class="justify-end">
                                                        <v-btn color="primary" @click="insertAddress()" :disabled="!validator.address" small>inserir</v-btn>
                                                        <v-btn @click="view.address=false"small>cancelar</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-form>
                                        </v-dialog>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-title>Informações do Chamado</v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col>
                                        <v-textarea v-model="form.ticket.description" label="Descrição" prepend-icon="mdi-text" spellcheck="true" rows="1" hide-details="auto" auto-grow></v-textarea>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-textarea v-model="form.ticket.troubleshooting" label="Troubleshooting" prepend-icon="mdi-list-status" spellcheck="true" rows="1" hide-details="auto" auto-grow></v-textarea>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-textarea v-model="form.ticket.note" label="Observações" prepend-icon="mdi-format-list-bulleted" spellcheck="true" rows="1" hide-details="auto" auto-grow></v-textarea>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="form.ticket.time.start" v-mask="mask.time" label="Início do Atendimento"  prepend-icon="mdi-timer-outline"  required></v-text-field>
                                    </v-col>
                                    <v-col>
                                         <v-text-field v-model="form.ticket.time.end" v-mask="mask.time" label="Fim do Atendimento" prepend-icon="mdi-timer-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field v-model="form.ticket.id" label="Número do Chamado" prepend-icon="mdi-ticket-outline" hide-details="auto"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-dialog v-model="view.template" width="800">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn @click="makeTemplate()" color="primary" v-bind="attrs" v-on="on" outlined><v-icon left>mdi-card-text-outline</v-icon>gerar template</v-btn>
                                    </template>
                                    <v-card>
                                        <v-card-title>Template Gerado</v-card-title>
                                        <v-card-text>
                                            <v-textarea v-model="template.text" class="monospace" auto-grow rows="0" filled outlined spellcheck="false"></v-textarea>
                                        </v-card-text>
                                        <v-card-actions class="justify-end">
                                            <v-btn color="primary" disabled small>copiar</v-btn>
                                            <v-btn @click="view.template=false" small>fechar</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                                <v-spacer></v-spacer>
                                <v-btn @click="clearForm()" color="error"><v-icon left>mdi-delete</v-icon>limpar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-container>
            </v-main>
            <v-footer>
                <v-container class="text-center">
                    <span class="text-center">Made by <a :href="about.page" style="text-decoration: none;" target="_blank" rel="noopener noreferrer"><v-icon style="vertical-align: 0;" color="black" small>mdi-github</v-icon>{{ about.author }}</a>. Last updated {{ about.revision }}</span>
                    <v-btn @click="switchTheme(!isNightTheme())" fab fixed right bottom>
                        <v-icon v-if="isNightTheme()">mdi-weather-sunny</v-icon>
                        <v-icon v-else>mdi-weather-night</v-icon>
                    </v-btn>
                </v-container>
            </v-footer>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cep-promise/dist/cep-promise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js" integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./code/main.js"></script>
</body>
</html>